<div class="container">
  <%= form_for(@restaurant) do |f| %>
    <p>Name:</p> <%= f.text_field :name %>
    <p>Category:</p><%= f.text_field :category %>
    <p>Phone:</p><%= f.text_field :phone_number %>
    <p>Address:</p><%= f.text_field :address %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>

